@model IEnumerable<MechanicChecker.Models.SellerProduct>

@{
    ViewData["Title"] = "Search Results ";
    Layout = "_Layout";
    //var sellers = new List<Seller>();

    //sellers = Model.Select(m => m.seller).ToList();

    var sellers = from sp in Model
                  select new { allCompanies = sp.seller.CompanyName, selId = sp.seller.SellerId };


    var maxPrice = from sp in Model
                   select sp.localProduct.Price;


}

<link href="~/css/SearchListSideNav.css" rel="stylesheet" />



<div class="row">
    <div class="col-sm-2">


        <div class="sidenav">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h3 class="h3 text-success ">&nbsp;&nbsp;Filter Options</h3>
            <br />


            @*category drop down list*@
            <button class="dropdown-btn">
                Category
            </button>
            <div class="dropdown-container">
                <a href="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery,filterType = "parts"})">
                    <input onclick="window.location.assign('@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "parts"})')" type="checkbox" id="cboxParts" name="cboxParts" value="cboxParts" style="width:20px; height:20px">&nbsp;&nbsp;Parts
                </a>
                <a href="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery,filterType = "services"})">
                    <input onclick="window.location.assign('@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "services"})')" type="checkbox" id="cboxServices" name="cboxServices" value="cboxServices" style="width:20px; height:20px">&nbsp;&nbsp;Services
                </a>
            </div>

            @*price drop down list*@
            <button class="dropdown-btn">
                Price
            </button>
            <div class="dropdown-container">

                @using (Html.BeginForm("SearchLocalSellersProducts", "Search", FormMethod.Get))
                {
                    <form>
                        <div>
                            <br />Max Price:
                            <br />
                            <input type="number" name="maxPrice" value="@ViewBag.maxPrice" style="width:100px; height:20px" />

                            <br />Min Price: <br />
                            <input type="number" name="minPrice" value="@ViewBag.minPrice" style="width:100px; height:20px" /><br />

                            <input name="query" value="@ViewBag.SearchQuery" hidden="hidden">
                            <input name="filterType" value="price" hidden="hidden">
                            <input name="homeAddress" value="@ViewBag.PostalCode" hidden="hidden">
                            <input name="vendorFilter" value="@ViewBag.VendorFilter" hidden="hidden">
                            <button><i class="fas fa-search"></i>Submit</button>
                        </div>
                    </form>

                }

            </div>


            @*quote drop down list*@
            <button class="dropdown-btn">
                Quote
            </button>
            <div class="dropdown-container">
                <a href="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "quote"})">
                    <input onclick="window.location.assign('@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "quote"})')" type="checkbox" id="cboxQuote" name="categoryRadioButton" value="true" style="width:20px; height:20px">&nbsp;&nbsp;Exclude Quotes
                </a>
            </div>


            @*Seller drop down list*@
            <button class="dropdown-btn">
                Seller
            </button>
            <div class="dropdown-container scrollable-menu" height="120">
                <br />
                @foreach (var s in sellers.Distinct())
                {
                    <a href="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "seller", seller = s.allCompanies})">
                        <input onclick="window.location.assign('@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "seller", seller = s.allCompanies})')" type="checkbox" id="@s.selId" name="@s.selId" value="@s.selId" style="width:20px; height:20px">&nbsp;&nbsp;@s.allCompanies (@(sellers.Where(d => d.allCompanies == s.allCompanies).Count()) items)
                    </a>
                }
                <br />

            </div>

            <br />
            <button class="btn btn-block" id="btnclear">
                <a href="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = ""})">
                    Clear All Filters
                </a>
            </button>

        </div>

    </div>


    <div class="col-sm-8 divPadding">
        <h2>@ViewData["Title"] For "@ViewBag.SearchQuery"</h2>
        <br />
        <br />
        <div>
            <div class="row">
                <div class="input_postalcode">

                </div>
                <div class="col-lg-8">
                    @using (Html.BeginForm("SearchLocalSellersProducts", "Search", FormMethod.Get))
                    {
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" name="homeAddress" placeholder="Postal Code" value="@ViewBag.PostalCode" aria-label="location">
                            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" value="@ViewBag.SearchQuery" aria-label="Search" required>
                            <select name="vendorFilter">
                                <option value="0">All</option>
                                <option value="1">Local Sellers</option>
                                <option value="2">Ebay</option>
                                <option value="3">Amazon</option>
                                <option value="4">Alibaba</option>
                            </select>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    }
                </div>

                <div class="col-lg-4">
                    <!-- Link -->
                    <select class="form-control mr-sm-2" name="filterType" id="filterType" onchange="location = this.value;">
                        <option>Filter your product</option>
                        <optgroup label="Title">
                            @if (ViewBag.FilterType == "atoz")
                            {
                                <option selected id="A to Z" name="filterType" value="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "atoz"})">A to Z</option>

                            }
                            else
                            {
                                <option id="A to Z" name="filterType" value="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "atoz"})">A to Z</option>

                            }
                            @if (ViewBag.FilterType == "ztoa")
                            {

                                <option selected id="Z to A" name="filterType" value="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "ztoa"})">Z to A</option>
                            }
                            else
                            {
                                <option id="Z to A" name="filterType" value="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "ztoa"})">Z to A</option>

                            }

                        </optgroup>
                        <optgroup label="Price">
                            @if (ViewBag.FilterType == "lowtohigh")
                            {

                                <option selected name="filterType" value="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "lowtohigh" })">Hightest to Lowest</option>
                            }
                            else
                            {

                                <option name="filterType" value="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "lowtohigh" })">Hightest to Lowest</option>

                            }

                            @if (ViewBag.FilterType == "hightolow")
                            {

                                <option selected name="filterType" value="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "hightolow" })">Lowest to Highest</option>
                            }
                            else
                            {

                                <option name="filterType" value="@Url.Action("SearchLocalSellersProducts", "Search", new {homeAddress = ViewBag.PostalCode, vendorFilter = ViewBag.VendorFilter, query = ViewBag.SearchQuery, filterType = "hightolow" })">Lowest to Highest</option>

                            }

                        </optgroup>
                    </select>
                </div>
            </div>
            <br />
            <div>
                <h4 class="text-muted">There are @Model.Count() results</h4>
            </div>
        </div>

        <br />
        <br />
        <table height="600" class="table table-sm table-striped table-bordered scrollable-menu" style="background-color: #FFFFFF;">
            <tbody>
                <!--shows each car part/service from the product list model (recived from the controller via model) in the table below-->
                @*TODO: update the model*@
                @foreach (SellerProduct product in Model)//add product class
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="@product.localProduct.LocalProductId" name="@product.localProduct.LocalProductId" value="@product.localProduct.LocalProductId" style="width:20px; height:20px">
                            <div class="card flex-row flex-wrap ">


                                <div class="card-header border-0 left col-sm-4 d-flex">
                                    <img class="card-img-left border-rounded center-block my-auto" src="@product.localProduct.ImageUrl" width="160" height="160" alt="@product.localProduct.Title">
                                </div>
                                <div class="card-block px-2 flex-row flex-wrap col-sm-8">

                                    <div class="card-header text-muted align-top">
                                        <h3 class="card-title">
                                            @product.localProduct.Title
                                        </h3>
                                    </div>

                                    <div class="align-bottom">
                                        <div class="col-sm-8 align-top">
                                            <p class="card-text h4">
                                                @{
                                                    if (product.localProduct.Price.Contains("-") || product.localProduct.Price == "0" || product.localProduct.Price == "")
                                                    {
                                                        <text>Contact seller for price</text>
                                                    }
                                                    else
                                                    {
                                                        <text>$ @product.localProduct.Price</text>
                                                    }
                                                }

                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">
                                                    @{
                                                        if (product.localProduct.Description.Length > 30)
                                                        {
                                                            <text>@product.localProduct.Description.Substring(0, 30).ToString() ...</text>
                                                        }
                                                        else if (product.localProduct.Description.Length < 30)
                                                        {
                                                            <text>@product.localProduct.Description.ToString()</text>
                                                        }
                                                        else
                                                        {
                                                            <text>Contact seller</text>
                                                        }
                                                    }
                                                </small>

                                            </p>

                                            <p class="card-text">
                                                @*TODO: add action and controller to switch to product details view*@
                                                @Html.ActionLink("Click to view details", "SearchViewDetails", "Search", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-success " })
                                            </p>
                                            <p class="card-text">
                                                @if (product.distance != null)
                                                {
                                                    <span>@product.distance  to @product.sellerAddress.Address</span>
                                                }
                                            </p>
                                        </div>

                                        @*//add company logo*@
                                        <div class="float-right col-sm-4 align-top d-flex" style="width: 10rem; height: 10rem">
                                            @*TODO: add action and controller/ url for seller website if provided*@
                                            <a @*href="@Url.Action("Action", "Controller")"*@ href="@product.seller.WebsiteUrl" title="click to visit the website" class="btn card-body center-block d-flex">
                                                @*TODO: add seller logo if provided*@
                                                <img class="card-img-top my-auto" style="width: 8rem;" src="@product.seller.CompanyLogoUrl" alt="@product.localProduct.Title">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <p id="testId"></p>
    </div>
</div>



@section Scripts
    {

    <script>

        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>


}


