@model IEnumerable<MechanicChecker.Models.SellerProduct>

@{
    ViewData["Title"] = "SearchCompareTwoParts";
}

<link href="~/css/StyleSeachViewDetails.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .header {
        background-color: #008000;
        padding: 5px;
        text-align: center;
        width: 1110px;
        font-size: 10px;
        color: white;
    }

    #example1 {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
    }
</style>


<div>
    <a onclick="window.history.back()" style="cursor: pointer;" class="previous">&laquo; Previous</a>
    <br />
    <br />
</div>
<div class="header center-block">

    <h3>Compare 2 parts or services</h3>
</div>
<div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half w3-margin-bottom">
        <div class="wrapper w3-card w3-margin">
            <ul class="w3-ul w3-white w3-center">
                <li class="w3-padding-10">
                    <img src="@Model.First().localProduct.ImageUrl" alt="Auto Parts Logo" height="200" width="200" class="center-block">
                </li>
                <li class="w3-black w3-xlarge w3-padding-8">@Model.First().localProduct.Title</li>
                <li class="w3-padding-14">
                    <b>Price:</b>
                    @{
                        if (@Model.First().localProduct.Price.Contains("-") || @Model.First().localProduct.Price == "0" || @Model.First().localProduct.Price == "")
                        {
                            <text>Contact seller for price</text>
                        }
                        else
                        {
                            <text>$ @Model.First().localProduct.Price</text>
                        }
                    }
                </li>
                <li class="w3-light-grey w3-padding-20">
                    <span><a href="@Model.First().localProduct.ProductUrl" class="btn btn-primary">Product link</a></span>
                    <span><a href="@Model.First().seller.WebsiteUrl" class="btn btn-primary">Company Web Site</a></span>
                </li>
                <li class="w3-padding-14"><b>Company Name: </b>@Model.First().seller.CompanyName</li>
                <li class="w3-padding-14"><img src="@Model.First().seller.CompanyLogoUrl" alt="eBay Logo" style="float: inherit;" height="50" width="70" class="rg"></li>
                <li class="w3-padding-14"><b>Description:</b><br />@Model.First().localProduct.Description</li>
                <li class="w3-padding-14">
                  
                        @if (Model.First().distance != null)
                        {

                             <h3>@Model.First().distance  to @Model.First().sellerAddress.Address</h3>
                       
                             <span class="w3-opacity"><b>Distance</b></span> 
                        }
                </li>
                <li class="w3-padding-14"><b>Category:</b> @Model.First().localProduct.Category</li>
                <li class="w3-padding-14"><b>Company Address:</b><br />@Model.First().sellerAddress.Address</li>
                <li class="w3-padding-14"><b>Phone:</b> @Model.First().seller.BusinessPhone</li>
                <li class="w3-padding-14"><b>Account Type:</b> @Model.First().seller.AccountType</li>
            </ul>
        </div>
    </div>

    <div class="w3-half w3-margin-bottom">
        <div class="wrapper w3-card w3-margin">
            <ul class="w3-ul w3-white w3-center">
                <li class="w3-padding-14">
                    <img src="@Model.Last().localProduct.ImageUrl" alt="Auto Parts Logo" height="200" width="200" class="center-block">
                </li>
                <li class="w3-black w3-xlarge w3-padding-8">@Model.Last().localProduct.Title</li>
                <li class="w3-padding-14">
                    <b>Price:</b>

                    @{
                        if (@Model.Last().localProduct.Price.Contains("-") || @Model.Last().localProduct.Price == "0" || @Model.Last().localProduct.Price == "")
                        {
                            <text>Contact seller for price</text>
                        }
                        else
                        {
                            <text>$ @Model.Last().localProduct.Price</text>
                        }
                    }
                </li>
                <li class="w3-light-grey w3-padding-20">
                    <span><a  href="@Model.Last().localProduct.ProductUrl" class="btn btn-primary">Product link</a></span>
                    <span><a href="@Model.Last().seller.WebsiteUrl" class="btn btn-primary">Company Web Site</a></span>
                </li>
                <li class="w3-padding-14"><b>Company Name:</b> @Model.Last().seller.CompanyName</li>
                <li class="w3-padding-10"><img src="@Model.Last().seller.CompanyLogoUrl" style="float: inherit;" height="50" width="70" class="rg"></li>
                <li class="w3-padding-14"><b>Description:</b><br />@Model.Last().localProduct.Description</li>
                <li class="w3-padding-14">
                    @if (Model.Last().distance != null)
                    {

                        <h3>@Model.Last().distance  to @Model.Last().sellerAddress.Address</h3>
                        <span class="w3-opacity"><b>Distance</b></span>
                    }

                </li>
                <li class="w3-padding-14"><b>Category:</b> @Model.Last().localProduct.Category </li>
                <li class="w3-padding-14"><b>Company Address:</b><br />@Model.Last().sellerAddress.Address</li>
                <li class="w3-padding-14"><b>Phone:</b> @Model.Last().seller.BusinessPhone</li>
                <li class="w3-padding-14"><b>Account Type: </b>@Model.Last().seller.AccountType</li>
            </ul>
        </div>
    </div>
</div>











































