@model IEnumerable<MechanicChecker.Models.SellerProduct>

@{
    ViewData["Title"] = "Search Results ";
    Layout = "_Layout";
}




<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-2">
        <br />
        <table>
            <tr>
                <th>Filter Options</th>
            </tr>
            <tr>
                <td><input type="radio" id="cboxTitle" name="categoryRadioButton" value="cboxTitle" style="width:20px; height:20px">&nbsp;&nbsp;Title</td>
            </tr>
            <tr>
                <td><input type="radio" id="cboxPrice" name="categoryRadioButton" value="cboxPrice" style="width:20px; height:20px">&nbsp;&nbsp;Price</td>
            </tr>
            <tr id="cboxMaxPrice" hidden="hidden">
                <td>

                    <br />Max Price: <br />
                    <input type="number" name="maxPrice" value="" style="width:100px; height:20px" />
                </td>
            </tr>
            <tr id="cboxMinPrice" hidden="hidden">
                <td>
                    <br />Min Price: <br />
                    <input type="number" name="minPrice" value="" style="width:100px; height:20px" /><br /><br />
                </td>
            </tr>
            <tr>
                <td><input type="radio" id="cboxCategory" name="categoryRadioButton" value="cboxCategory" style="width:20px; height:20px">&nbsp;&nbsp;Category</td>
            </tr>
            <tr>
                <td><input type="radio" id="cboxSellerID" name="categoryRadioButton" value="cboxSellerID" style="width:20px; height:20px">&nbsp;&nbsp;Seller</td>
            </tr>
            <tr>
                <td><input type="radio" id="cboxQuote" name="categoryRadioButton" value="cboxQuote" style="width:20px; height:20px">&nbsp;&nbsp;Quote</td>
            </tr>
        </table>
    </div>

    <div class="col-sm-8">
        <br />
        <table class="table table-sm table-striped table-bordered" style="background-color: #FFFFFF;">

            <tbody>
                <!--shows each car part/service from the product list model (recived from the controller via model) in the table below-->
                @*TODO: update the model*@
                @foreach (SellerProduct product in Model)//add product class
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="@product.localProduct.LocalProductId" name="@product.localProduct.LocalProductId" value="@product.localProduct.LocalProductId" style="width:20px; height:20px">
                            <div class="card flex-row flex-wrap ">


                                <div class="card-header border-0 left col-sm-4 d-flex">
                                    <img class="card-img-left border-rounded center-block my-auto" src="@product.localProduct.ImageUrl" width="200" height="200" alt="@product.localProduct.Title">
                                </div>
                                <div class="card-block px-2 flex-row flex-wrap col-sm-8">

                                    <div class="card-header text-muted align-top">
                                        <h3 class="card-title">
                                            @product.localProduct.Title
                                        </h3>
                                    </div>

                                    <div class="align-bottom">
                                        <div class="col-sm-8 align-top">
                                            <p class="card-text h4">
                                                @{
                                                    if (product.localProduct.Price.Contains("-") || product.localProduct.Price == "0" || product.localProduct.Price == "")
                                                    {
                                                        <text>Contact seller for price</text>
                                                    }
                                                    else
                                                    {
                                                        <text>$ @product.localProduct.Price</text>
                                                    }
                                                }

                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">
                                                    @{
                                                        if (product.localProduct.Description.Length > 40)
                                                        {
                                                            <text>@product.localProduct.Description.Substring(0, 40).ToString() ...</text>
                                                        }
                                                        else if (product.localProduct.Description.Length < 40)
                                                        {
                                                            <text>@product.localProduct.Description.ToString()</text>
                                                        }
                                                        else
                                                        {
                                                            <text>Contact seller</text>
                                                        }
                                                    }
                                                </small>

                                            </p>
                                            <p class="card-text">
                                                @*TODO: add action and controller to switch to product details view*@
                                                @Html.ActionLink("Click to view details", "#", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary " })
                                            </p>

                                            <div class="distanceToLocation">
                                                <p><span class="distance"></span> to <span class="location"></span></p>
                                            </div>
                                        </div>

                                        @*//add company logo*@
                                        <div class="float-right col-sm-4 align-top d-flex" style="width: 10rem; height: 10rem">
                                            @*TODO: add action and controller/ url for seller website if provided*@
                                            <a @*href="@Url.Action("Action", "Controller")"*@ href="https://www.ebay.ca/" title="click to visit the website" class="btn card-body center-block d-flex">
                                                @*TODO: add seller logo if provided*@
                                                <img class="card-img-top my-auto" style="width: 8rem;" src="@product.seller.CompanyLogoUrl" alt="@product.localProduct.Title">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>


@section Scripts
    {

    <script>
        $(document).ready(function () {
            //event listener and function to toggle price max and min input boxes
            var cbox_price = document.getElementById("cboxPrice");
            var maxPriceInput = document.getElementById("cboxMaxPrice");
            var minPriceInput = document.getElementById("cboxMinPrice");
            var selected = true;


            $('input[type=radio]').click(function () {
                if (this.id == "cboxPrice") {
                    if (selected) {
                        maxPriceInput.hidden = false;
                        minPriceInput.hidden = false;
                        selected = false;
                    }
                    else {
                        maxPriceInput.hidden = true;
                        minPriceInput.hidden = true;
                        selected = true;
                    }
                }
            });

            //reading from localstorage data set in the home/index
            var gmapsData = JSON.parse(localStorage.getItem('gmapsInfo'));
            if (gmapsData) {
                $(".distance").text(gmapsData.distance);
                $(".location").text(gmapsData.destination)
            }

        });
    </script>

}


